# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
*.joblib

# Virtual env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Data (aktifkan jika kamu TIDAK mau commit dataset)
# paris.csv
